@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>INDEXXXXXX</h2>

@Html.ActionLink("Pay Direct With Credit Card", "PaymentWithCreditCard", "PayPal")
@Html.ActionLink("Pay With PayPal Account", "PaymentWithPayPal", "PayPal")

@*@{
    Layout = null;
}*@
@using System.Configuration

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <form method="post" action="@ConfigurationManager.AppSettings["PayPalSubmitUrl"]">

        <input type="hidden" name="upload" value="1" />
        <input type="hidden" name="return" value="@ConfigurationManager.AppSettings["returnurl"]"/>
        <input type="hidden" name="cmd" value="_cart" />
        <input type="hidden" name="business" value="@ConfigurationManager.AppSettings["PayPalUserName"]"/>


        <!-- Product 1 -->
        <input type="hidden" name="item_name_1" value="Product 1"/>
        <input type="hidden" name="item_number_1" value="p1" />
        <input type="hidden" name="amount_1" value="2" />
        <input type="hidden" name="quantity_1" value="3" />

        <!-- Product 2 -->
        <input type="hidden" name="item_name_2" value="Product 2" />
        <input type="hidden" name="item_number_2" value="p2" />
        <input type="hidden" name="amount_2" value="3" />
        <input type="hidden" name="quantity_2" value="4" />

        <!-- Product 3 -->
        <input type="hidden" name="item_name_3" value="Product 3" />
        <input type="hidden" name="item_number_3" value="p3" />
        <input type="hidden" name="amount_3" value="3" />
        <input type="hidden" name="quantity_3" value="2" />

        <input type="image" src="https://www.paypal.com/en_US/i/btn/btn_xpressCheckout.gif"/>

        </form>

</body>
</html>


