@model IEnumerable<Portugal_Insurance___PayPal.Models.AutomobilePolicy>
@using Portugal_Insurance___PayPal.Models;
@using Microsoft.AspNet.Identity; 

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">
<head>
    
    <!-- Basic -->
    <title>Polizas</title>

    <!-- Define Charset -->
    <meta charset="utf-8">

    <!-- Responsive etatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Page Description and Author -->
    <meta name="description" content="Margo - Responsive HTML5 Template">
    <meta name="author" content="iThemesLab">


    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="~/asset/css/bootstrap.min.css" type="text/css" media="screen">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css" type="text/css" media="screen">

    <!-- Margo CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" media="screen">

    <!-- Responsive CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css" media="screen">

    <!-- Color CSS Styles  -->
    <!--<link rel="stylesheet" type="text/css" href="~/Content/css/colors/red.css" title="red" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/jade.css" title="jade" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/blue.css" title="blue" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/beige.css" title="beige" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/cyan.css" title="cyan" media="screen" />-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/green.css" title="green" media="screen" />
    <!--<link rel="stylesheet" type="text/css" href="~/Content/css/colors/red.css" title="red" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/orange.css" title="orange" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/peach.css" title="peach" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/pink.css" title="pink" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/purple.css" title="purple" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/sky-blue.css" title="sky-blue" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/yellow.css" title="yellow" media="screen" />-->
    <!-- Margo JS  -->
    <script type="text/javascript" src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.migrate.js"></script>
    <script type="text/javascript" src="~/Scripts/modernizrr.js"></script>
    <script type="text/javascript" src="~/asset/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.fitvids.js"></script>
    <script type="text/javascript" src="~/Scripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Scripts/count-to.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.textillate.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.lettering.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>

    <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body>
    <!-- Start Page Banner-->
    <div class="page-bannerr" style="padding:59px 0; background: url(/Content/images/slide-02-bg.jpg) center #f9f9f9;margin-top:50px">
            <div class="row">
                <div class="col-md-6">
                    <h2>Automobile Policies</h2>
                </div>
                <div class="col-md-6">
                    <ul class="breadcrumbs">
                        <li><a href="/Home/Index">Home</a></li>
                        <li>Your Instant Quote!!</li>
                    </ul>
                </div>
            </div>
    </div>
    <!-- End Page Banner -->
    <!-- Container -->
    <div id="container" style="margin-right:80px; margin-left:20px; ">
        <div class="panel panel-primary">
            <div class="panel-heading">Automobile Policies</div>
            @using (Html.BeginForm("Index", "AutomobilePolicy", FormMethod.Get, new { @class = "panel-body filter hidden-print" }))
            {
                <div class="col-xs-8">
                    <input type="text" id="buscador" name="buscador"
                           class="form-control" value="" placeholder="Policy # or Client Name" />
                </div>
                <div class="col-xs-3">
                    <select onchange="((this.options[this.selectedIndex].value).Split('|')[0]) && ((window.location = (this.options[this.selectedIndex].value).Split('|')[0]));" class="form-control" @*style="width:160px"*@ name="tipoPoliza" id="tipoPolizaDropDown">
                        <option value="todasLasPolizas">Todas Las Polizas</option>
                        <option value="polizasVendidas">Polizas Vendidas</option>
                        <option value="polizasNoVendidas">Polizas No Vendidas</option>
                    </select>
                </div>
                <button name="buscadorClientes" class="btn btn-primary">Search</button>
            }

            <table class="table table-striped table-hover table-responsive table-bordered" style="text-align: center">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ApplicationUser.fullName)
                    </th>
                    @*<th>
                    @Html.DisplayNameFor(model => model.payerEmail)
                </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.vehicleValue)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.vehicleVin)
                    </th>
                    @*<th>
                   @Html.DisplayNameFor(model => model.carYear)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.carMake)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.carModel)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.vehicleType)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.vehiclePlate)
                </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.policyFolio)
                    </th>
                    @*<th>
                    @Html.DisplayNameFor(model => model.policySold)
                </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.payPalTransactionId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.paymentStatus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.policySoldDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.policyStartingDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.policyEndingDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.policyCoverageDays)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.coverageType)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.paymentFee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.policyTotalCost)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.ApplicationUser.fullName)
                        </td>

                        @*<td>
                        @Html.DisplayFor(modelItem => item.payerEmail)
                    </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.vehicleValue)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.vehicleVin)
                        </td>
                        @*<td>
                        @Html.DisplayFor(modelItem => item.carYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.carMake)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.carModel)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vehicleType)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.vehiclePlate)
                    </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.policyFolio)
                        </td>
                        @*<td>
                        @Html.DisplayFor(modelItem => item.policySold)
                    </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.payPalTransactionId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.paymentStatus)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.policySoldDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.policyStartingDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.policyEndingDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.policyCoverageDays)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.coverageType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.paymentFee)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.policyTotalCost)
                        </td>
                        <td>
                            <div class="btn-group">
                                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="1000" data-close-others="true">
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu" role="menu">

                                    <li>@Html.ActionLink("Details", "ViewPolicy","PayPal", new { policyID = item.automobilePolicyID }, null)</li>

                                    @if (User.IsInRole(AccountRolesNames.ADMINISTRATOR) || User.IsInRole(AccountRolesNames.SALESMANAGER))
                                    {
                                        <li>@Html.ActionLink("Edit", "Edit", new { id = item.automobilePolicyID }, new { data_modal = "" })</li>
                                    }
                                    @if (User.IsInRole(AccountRolesNames.ADMINISTRATOR))
                                    {
                                        <li>@Html.ActionLink("Delete", "Delete", new { id = item.automobilePolicyID }, new { data_modal = "" })</li>
                                    }

                                </ul>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</body>

</html>
