@{
    ViewBag.Title = "About";
}

<!--<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>-->

<!DOCTYPE html>
<!--[if IE 8 ]><html class="ie ie8" lang="en"> <![endif]-->
<!--[if (gte IE 9)|!(IE)]><html lang="en" class="no-js"> <![endif]-->
<html lang="en">
<head>

    <!-- Basic -->
    <title>Margo | About Us</title>

    <!-- Define Charset -->
    <meta charset="utf-8">

    <!-- Responsive etatag -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!-- Page Description and Author -->
    <meta name="description" content="Margo - Responsive HTML5 Template">
    <meta name="author" content="iThemesLab">


    <!-- Bootstrap CSS  -->
    <link rel="stylesheet" href="~/asset/css/bootstrap.min.css" type="text/css" media="screen">

    <!-- Font Awesome CSS -->
    <link rel="stylesheet" href="/Content/css/font-awesome.min.css" type="text/css" media="screen">

    <!-- Margo CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/style.css" media="screen">

    <!-- Responsive CSS Styles  -->
    <link rel="stylesheet" type="text/css" href="~/Content/css/responsive.css" media="screen">

    <!-- Color CSS Styles  -->
    <!--<link rel="stylesheet" type="text/css" href="~/Content/css/colors/red.css" title="red" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/jade.css" title="jade" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/blue.css" title="blue" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/beige.css" title="beige" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/cyan.css" title="cyan" media="screen" />-->
    <link rel="stylesheet" type="text/css" href="~/Content/css/colors/green.css" title="green" media="screen" />
    <!--<link rel="stylesheet" type="text/css" href="~/Content/css/colors/red.css" title="red" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/orange.css" title="orange" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/peach.css" title="peach" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/pink.css" title="pink" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/purple.css" title="purple" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/sky-blue.css" title="sky-blue" media="screen" />
        <link rel="stylesheet" type="text/css" href="~/Content/css/colors/yellow.css" title="yellow" media="screen" />-->
    <!-- Margo JS  -->
    <script type="text/javascript" src="~/Scripts/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.migrate.js"></script>
    <script type="text/javascript" src="~/Scripts/modernizrr.js"></script>
    <script type="text/javascript" src="~/asset/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.fitvids.js"></script>
    <script type="text/javascript" src="~/Scripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/nivo-lightbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.appear.js"></script>
    <script type="text/javascript" src="~/Scripts/count-to.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.textillate.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.lettering.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.easypiechart.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.nicescroll.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.parallax.js"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>

    <!--[if IE 8]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->

</head>

<body>

    <!-- Container -->
    <div id="container">


        <!-- Start Page Banner -->
        <div class="page-banner" style="padding:80px 0; background: url(/Content/images/slide-02-bg.jpg) center #f9f9f9;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <h2>About Us</h2>
                        <p>We Are Professional</p>
                    </div>
                    <div class="col-md-6">
                        <ul class="breadcrumbs">
                            <li><a href="/Home/Index">Home</a></li>
                            <li>About Us</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Page Banner -->
        <!-- Start Content -->
        <div id="content" style="background-color: ghostwhite;">
            <div class="container">
                <div class="page-content">


                    <div class="row">

                        <div class="col-md-12">

                            <!-- Classic Heading -->
                            <h4 class="classic-title"><span>Welcome To Our Agency</span></h4>

                            <!-- Some Text -->
                            <p>Lorem Ipsum is simply dummy text of the <a title="Simple Tooltip" href="#" class="itl-tooltip" data-placement="top">printing</a> and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                            <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. Sed ut perspiciatis unde omnis iste natus error sit volup accusantium. Lorem ipsum dolor sit amet, consectetur.</p>

                            <!-- Start Post -->
                            <div class="blog-post image-post">
                                <!-- Post Thumb -->
                                <div class="post-head">
                                    <a class="lightbox" title="This is an image title" href="/Content/images/blog-01.jpg">
                                        <div class="thumb-overlay"><i class="fa fa-arrows-alt"></i></div>
                                        <img alt="" src="/Content/images/ourteam.png">
                                    </a>
                                </div>
                                <!-- Post Content -->
                                <div class="post-content">
                                    <div class="post-type"><i class="fa fa-picture-o"></i></div>
                                    <h2><a href="#">Image Box With Nice Lightbox</a></h2>
                                    <ul class="post-meta">
                                        <li>By <a href="#">iThemesLab</a></li>
                                        <li>December 30, 2013</li>
                                        <li><a href="#">WordPress</a>, <a href="#">Graphic</a></li>
                                        <li><a href="#">4 Comments</a></li>
                                    </ul>
                                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    <a class="main-button" href="#">Read More <i class="fa fa-angle-right"></i></a>
                                </div>
                            </div>
                            <!-- End Post -->
                            <!--START INVOICE TABLE-->
                            <table cellpadding="0" cellspacing="0" style="margin: 0px auto; border-top: 1px solid rgb(204, 204, 204); text-align: left;">
                                <tbody>
                                    <tr>
                                        <td height="40" style="border-left-width: 5px; border-left-style: solid; width: 20px;"></td>
                                        <td style="width: 200px; height: 100px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="2">
                                            <img alt="" id="segurosHeaderLogo" src="/Content/images/segurosLogo2016_2016_400X129.png">
                                        </td>
                                        <td style="width: 239px; height: 40px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="2">
                                            <label class="contact"><strong>Email: atencionacliente@gseguros.com.mx</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.fullName"*@
                                            </div>
                                            <br />
                                        </td>
                                        <td style="width: 239px; height: 40px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="3">
                                            <label class="contact">
                                                <strong>
                                                    POLIZA DE AUTOMOVILES<br />
                                                    INDIVIDUAL<br />
                                                    REPORTE DE SINIESTROS 01(55) 5278-8888<br />
                                                </strong>
                                            </label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.fullName"*@
                                            </div>
                                            <br />
                                            <table cellpadding="0" cellspacing="0" style="border-top-style: solid; margin: 0px auto;">
                                                <tbody></tbody>
                                            </table>
                                        </td>
                                        <td height="40" style="border-right-width: 5px; border-right-style: solid; width: 20px;"></td>
                                    </tr>

                                    <tr>
                                        <td height="40" style="border-left-width: 5px; border-left-style: solid; width: 20px;">&nbsp;</td>
                                        <td style="width: 226px; height: 10px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;">&nbsp;</td>
                                        <td style="width: 226px; height: 10px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;">&nbsp;</td>
                                        <td style="width: 226px; height: 10px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="2">&nbsp;</td>
                                        <td style="width: 226px; height: 10px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="3">&nbsp;</td>
                                        <td height="40" style="border-right-width: 5px; border-right-style: solid; width: 20px;">&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td height="40" style="border-left-width: 5px; border-left-style: solid; width: 20px;">&nbsp;</td>
                                        <td style="width: 226px; height: 10px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;">&nbsp;</td>
                                        <td style="width: 226px; height: 10px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;">&nbsp;</td>
                                        <td style="width: 226px; height: 10px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="2">&nbsp;</td>
                                        <td style="width: 226px; height: 10px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="3">&nbsp;</td>
                                        <td height="40" style="border-right-width: 5px; border-right-style: solid; width: 20px;">&nbsp;</td>
                                    </tr>

                                    <tr>
                                        <td height="40" style="border-left-width: 5px; border-left-style: solid; width: 20px;" rowspan="5"></td>

                                        <td style="width: 226px; height: 10px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="4" rowspan="5">
                                            <label class="contact"><strong>DATOS DEL ASEGURADO:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.fullName"*@
                                            </div>
                                            <br />
                                            <label class="contact"><strong>Insured Policy Holder Name:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.fullName"*@
                                            </div>
                                            <br />
                                            <label class="contact"><strong>License Number:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.license1"*@
                                            </div>
                                            <br />
                                            <label class="contact"><strong>Phone Number:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.phoneNumber"*@
                                            </div>
                                            <br />
                                            <label class="contact"><strong>Address:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.address"*@
                                            </div>
                                            <br />
                                            <label class="contact"><strong>Address Continued:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.address2"*@
                                            </div>
                                            <br />
                                            <label class="contact"><strong>City:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.City"*@
                                            </div>
                                            <br />
                                            <label class="contact"><strong>State:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.State"*@
                                            </div>
                                            <br />
                                            <label class="contact"><strong>Zip Code:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.zipCode"*@
                                            </div>
                                            <br />
                                            <label class="contact"><strong>Country:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                        </td>
                                        <td style="width: 226px; height: 5px; background-color: rgb(191, 191, 191); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="3">
                                            <label class="contact" style="text-align: center"><strong>POLICY:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                        </td>
                                        <td height="40" style="border-right-width: 5px; border-right-style: solid; width: 20px;" rowspan="5"></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 226px; height: 5px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="3">
                                            <label class="contact" style="text-align: center"><strong>POLICY FOLIO #:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 226px; height: 5px; background-color: rgb(191, 191, 191); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="3">
                                            <label class="contact"><strong>VIGENCIA:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 226px; height: 5px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="3">
                                            <label class="contact"><strong>DESDE:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 226px; height: 5px; background-color: rgb(191, 191, 191); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="3">
                                            <label class="contact"><strong>HASTA:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="40" style="border-left-width: 5px; border-left-style: solid; width: 20px;" rowspan="8"></td>
                                        <td style="width: 226px; height: 10px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="4" rowspan="8">
                                            <label class="contact"><strong>DATOS DEL VEHICULO:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                            <label class="contact"><strong>Vehicle Value:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                            <label class="contact"><strong>Vehicle Type:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                            <label class="contact"><strong>Vehicle Year:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                            <label class="contact"><strong>Vehicle Make:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                            <label class="contact"><strong>Vehicle Model:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                            <label class="contact"><strong>Vehicle Plates:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                            <label class="contact"><strong>Vehicle Vin Number:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                        </td>
                                        <td style="width: 226px; height: 10px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="3">
                                            <label class="contact"><strong>FECHA DE EMISION:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                        </td>
                                        <td height="40" style="border-right-width: 5px; border-right-style: solid; width: 20px;" rowspan="8"></td>
                                    </tr>
                                    <tr>
                                        <td style="width: 226px; height: 10px; background-color: rgb(191, 191, 191); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="3">
                                            <label class="contact"><strong>Policy Start Date:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 226px; height: 10px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="3">
                                            <label class="contact"><strong>Vehicle Type:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 226px; height: 10px; background-color: rgb(191, 191, 191); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="3">
                                            <label class="contact"><strong>Vehicle Typeeeee:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 226px; height: 10px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="3">
                                            <label class="contact"><strong>Vehicle TypeEE:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 226px; height: 10px; background-color: rgb(191, 191, 191); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="3">
                                            <label class="contact"><strong>Vehicle Type:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 226px; height: 10px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="3">
                                            <label class="contact"><strong>Vehicle Type:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 226px; height: 10px; background-color: rgb(191, 191, 191); border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0);" colspan="3">
                                            <label class="contact"><strong>Vehicle Type:</strong></label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                        </td>
                                    </tr>
                                    <tr>
                                        <td height="40" style="border-left-width: 5px; border-left-style: solid; width: 20px;">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 680px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="7">
                                            <label class="contact">
                                                <strong>
                                                    General de Seguros S.A.B., (denominada en adelante la institucion),
                                                    de acuerdo con las Condiciones Generales anexas, asegura a favor de la persona arriba citada
                                                    (denominada en adelante el Asegurado), los riesgos que aqui se mencionan, durante la vigencia
                                                    y hasta los limites maximos de responsabilidad contratados.
                                                    <br>
                                                    Articulo 25 de la Ley Sobre el Contrato del Seguro: "Si el contenido de la poliza o de sus modificaciones
                                                    no concordaran con la oferta, el Asegurado podra pedir la rectificacion correspondente dentro de los
                                                    treinta dias que sigan el dia en que reciba la Poliza.
                                                    <br>
                                                    Transcurrido este plazo se consideran aceptadas las estipulaciones de la Poliza o de sus modificationes".
                                                    <br>
                                                    Se Invita al Asegurado a conocer los alcances reales de su Cobertura, las Exclusiones que le aplican y si
                                                    el producto cuenta con restricciones en las Condiciones Generales.
                                                    <br>
                                                    Anexo a a la presente caratula de Poliza, se entrega al Asegurado las Condiciones Generales y demas documentacion
                                                    contratual que forma parte integral del Contrado de Seguro celebrado con General de Seguros S.A.B.
                                                    Adicionalmente, el asegurado puede descargar dichas Condiciones de la pagina www.generaldeseguros.com.mx"
                                                    <br>
                                                </strong>
                                            </label>
                                            <div class="col-md-12" id="legalName" name="legalName">
                                                @*"@ViewBag.country"*@
                                            </div>
                                            <br />
                                        </td>
                                        <td height="40" style="border-right-width: 5px; border-right-style: solid; width: 20px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="border-left-width: 5px; border-left-style: solid; width: 20px; height: 15px;">&nbsp;</td>
                                        <td style="text-align: justify; width: 400px; height: 15px; background-color: rgb(191, 191, 191); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="2">&nbsp;</td>
                                        <td style="text-align: justify; width: 180px; height: 15px; background-color: rgb(191, 191, 191); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="2">&nbsp;</td>
                                        <td style="text-align: justify; width: 100px; height: 15px; background-color: rgb(191, 191, 191); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="3">&nbsp;</td>
                                        <td style="border-right-width: 5px; border-right-style: solid; width: 20px; height: 15px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="border-left-width: 5px; border-left-style: solid; width: 20px; height: 15px;">&nbsp;</td>
                                        <td style="text-align: justify; width: 400px; height: 15px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="2">&nbsp;</td>
                                        <td style="text-align: justify; width: 180px; height: 15px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="2">&nbsp;</td>
                                        <td style="text-align: justify; width: 100px; height: 15px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="3">&nbsp;</td>
                                        <td style="border-right-width: 5px; border-right-style: solid; width: 20px; height: 15px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="border-left-width: 5px; border-left-style: solid; width: 20px; height: 15px;">&nbsp;</td>
                                        <td style="text-align: justify; width: 400px; height: 15px; background-color: rgb(191, 191, 191); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="7">&nbsp;</td>
                                        <td style="border-right-width: 5px; border-right-style: solid; width: 20px; height: 15px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td height="40" style="border-left-width: 5px; border-left-style: solid; width: 20px;">&nbsp;</td>
                                        <td style="width: 340px; height: 40px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="2">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 340px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="5">&nbsp;</td>
                                        <td height="40" style="border-right-width: 5px; border-right-style: solid; width: 20px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td style="border-left-width: 5px; border-left-style: solid; width: 20px; height: 10px;">&nbsp;</td>
                                        <td style="width: 340px; height: 10px;" colspan="7">&nbsp;</td>
                                        <td style="border-right-width: 5px; border-right-style: solid; width: 20px; height: 10px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td height="40" style="border-left-width: 5px; border-left-style: solid; width: 20px;">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; background-color: rgb(191, 191, 191); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="2">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; background-color: rgb(191, 191, 191); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; background-color: rgb(191, 191, 191); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; background-color: rgb(191, 191, 191); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; background-color: rgb(191, 191, 191); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; background-color: rgb(191, 191, 191); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;">&nbsp;</td>
                                        <td height="40" style="border-right-width: 5px; border-right-style: solid; width: 20px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td height="40" style="border-left-width: 5px; border-left-style: solid; width: 20px;">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="2">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0);">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0);">&nbsp;</td>
                                        <td height="40" style="border-right-width: 5px; border-right-style: solid; width: 20px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td height="40" style="border-left-width: 5px; border-left-style: solid; width: 20px;">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; background-color: rgb(191, 191, 191); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="2">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; background-color: rgb(191, 191, 191); border-width: 1px; border-style: solid; border-color: rgb(0, 0, 0);">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; background-color: rgb(191, 191, 191); border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; border-color: rgb(127, 127, 127);" colspan="3">&nbsp;</td>
                                        <td height="40" style="border-right-width: 5px; border-right-style: solid; width: 20px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td height="40" style="border-left-width: 5px; border-left-style: solid; width: 20px;">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;" colspan="2">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; border-color: rgb(0, 0, 0); border-width: 1px; border-style: solid;">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 113px; border-color: rgb(127, 127, 127);" colspan="3">&nbsp;</td>
                                        <td height="40" style="border-right-width: 5px; border-right-style: solid; width: 20px;">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td height="40" style="border-left-width: 5px; border-left-style: solid; width: 20px;">&nbsp;</td>
                                        <td height="40" style="text-align: justify; width: 400px;" colspan="7">&nbsp;</td>
                                        <td height="40" style="border-right-width: 5px; border-right-style: solid; width: 20px;">&nbsp;</td>
                                    </tr>
                                </tbody>
                            </table>
                            <!--END INVOICE TABLE-->
                        </div>

                    </div>

                </div>

                <!-- Divider -->
                <div class="hr1" style="margin-bottom:50px;"></div>

                <div class="row">

                    <div class="col-md-6">

                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>Our Skills</span></h4>

                        <div class="skill-shortcode">
                            <div class="skill">
                                <p>Web Design</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-percentage="60">
                                        <span class="progress-bar-span">60%</span>
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill">
                                <p>Wordpress</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-percentage="80">
                                        <span class="progress-bar-span">80%</span>
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill">
                                <p>CSS 3</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-percentage="90">
                                        <span class="progress-bar-span">90%</span>
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                            <div class="skill">
                                <p>HTML 5</p>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" data-percentage="100">
                                        <span class="progress-bar-span">100%</span>
                                        <span class="sr-only">60% Complete</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-6">

                        <!-- Classic Heading -->
                        <h4 class="classic-title"><span>Our Solutions</span></h4>

                        <!-- Accordion -->
                        <div class="panel-group" id="accordion">

                            <!-- Start Accordion 1 -->
                            <div class="panel panel-default">
                                <!-- Toggle Heading -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-1">
                                            <i class="fa fa-angle-up control-icon"></i>
                                            <i class="fa fa-desktop"></i> Fully Responsive Theme
                                        </a>
                                    </h4>
                                </div>
                                <!-- Toggle Content -->
                                <div id="collapse-1" class="panel-collapse collapse in">
                                    <div class="panel-body"><img class="img-thumbnail image-text" style="float:left; width:150px;" alt="" src="/Content/images/bussniss-pic.jpg" /> <strong class="accent-color">Lorem Ipsum</strong> is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown <strong>printer</strong> took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</div>
                                </div>
                            </div>
                            <!-- End Accordion 1 -->
                            <!-- Start Accordion 2 -->
                            <div class="panel panel-default">
                                <!-- Toggle Heading -->
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapse-2" class="collapsed">
                                            <i class="fa fa-angle-up control-icon"></i>
                                            <i class="fa fa-gift"></i> Touchable Slider
                                        </a>
                                    </h4>
                                </div>
                                <!-- Toggle Content -->
                                <div id="collapse-2" class="panel-collapse collapse">
                                    <div class="panel-body">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. The point of using Lorem Ipsum is that it has a <strong>more-or-less</strong> normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</div>
                                </div>
                            </div>
                            <!-- End Accordion 2 -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Container -->
        <!-- Go To Top Link -->
        <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

        <div id="loader">
            <div class="spinner">
                <div class="dot1"></div>
                <div class="dot2"></div>
            </div>
        </div>


    </div>

</body>

</html>
